@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #081b29;
  color: #ededed;
}

.uniContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;

}

.navbar a {
  font-size: 1.8rem;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active {
  color: #00abf0;
}

.home {
  height: 100vh;
  background: url();
  display: flex;
  align-items: center;
  padding: 0 10%;
  width: 100%;
}

.home-content {
  max-width: 70rem;
}

.home-content h1 {
  position: relative;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;

}

.home-content h3 {
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.home-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content h3 span {
  position: inherit;
  color: #00abf0;

}

.home-content h3 span::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.3rem;
  width: 0.2rem;
  height: 3rem;
  background: #00abf0;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

.home-content h3 span.stop-blinking ::before {
  animation: none;
}



.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2.0rem 0 4.0rem;
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.7s;

}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: #00abf0;
  border: 0.2rem solid #00abf0;
  border-radius: 0.8rem;
  font-size: 1.9rem;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 17rem;
  display: flex;
  justify-content: space-between;

}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;

}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #00abf0;
  border-radius: 50%;
  font-size: 2rem;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 3rem;
  width: 50rem;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 125%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;

}

.home-imgHover:hover {
  background: #081b29;
  opacity: .8;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media(max-width:998px){
  html{
    font-size: 55%;
  }
}

@media(max-width:768px){
  html{
    font-size: 45%;
  }
}